* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: "Unkempt", serif;
  font-weight: 700;
}

body {
  text-shadow: -1px -1px 0 #442e00, 1px -1px 0 #442e00, -1px 1px 0 #442e00,
    1px 1px 0 #442e00, 0px -1px 0 #442e00, 0px 1px 0 #442e00, -1px 0px 0 #442e00,
    1px 0px 0 #442e00;
  font-style: normal;
  background-color: #313131;
  color: #f7edd1;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

/* Navigation */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 60px;
  margin: auto;
}

.menu-btn {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

/* Main Layout */
main {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 20px;
  flex-grow: 1;
  padding: 20px;
  box-sizing: border-box;
}

.left-column,
.center-column,
.right-column {
  padding: 20px;
}

/* Center Column */
.center-column {
  text-align: center;
  background-color: #1f1f1f;
}

.board-medium {
  background-image: url("./assets/components/board-medium.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 187px;
  height: 68px;
  padding-bottom: 6px;
}

.board-big {
  background-image: url("./assets/components/board-big.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 120px;
  padding: 6px 12px;
}

.timer {
}

.timer p,
span {
  font-size: 2rem;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-gap: 5px;
  justify-content: center;
}

/* Left Column / Rules */

.rule-item {
  font-size: 1.125rem;
  gap: 10px;
  margin-bottom: 12px;
}

.rule-item img {
  margin-left: 8px;
}

/* Right Column */
.score {
  font-size: 2rem;
  gap: 10px;
}

.score p {
  font-size: 1.5rem;
}

.score img {
  width: 28px;
  height: 28px;
}

.gem-info ul li {
  background: #3b3b3b;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  text-align: center;
}

footer {
  text-align: center;
  padding: 10px;
  background: #333;
  color: #aaa;
}
