.board-medium {
  background-image: url("../../assets/components/board-medium.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 187px;
  height: 68px;
  padding-bottom: 6px;
}

.board-big {
  background-image: url("../../assets/components/board-big.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 120px;
  padding: 6px 12px;
}

.hidden {
  display: none !important;
}
